__pycache__/
.idea/
venv/
build/
dist/
runtime/
data/zzz-model-hash/
data/zzz-model-hash_lowvarm/
data/PlayerCharacterData.json
data/user.txt
mods/
backups/
*.zip
*.rar
*.7z
*.exe
*.lock
*.bak
state.json